.first-screen {
    height: 100vh;
    background-image: linear-gradient(to bottom, #FFB54800, #342C1DCD 90%, #08090A), url(/assets/img/main-screen.png);

    .dropdown {
        margin: 0 23px;
    }

    .dropdown-item {
        padding-left: 10px;

        &:hover {
            color: $primary-color;
        }
    }

    .dropdown-menu {
        border-radius: 3px;
        min-width: 55px;
    }

    .dropdown-menu,
    .dropdown-item:hover {
        background: rgba(0, 0, 0, 0.75);
    }

    .navbar-collapse {
        padding: 20px;
    }

    .show:not(.dropdown-menu) {
        border-radius: 4px;
        background: linear-gradient(180deg, #FFB548 24.27%, #f3af34e3 132.4% );
        z-index: 1;

        .nav-link {
            &:hover {
                color: rgba(0, 0, 0, 0.75);
            }
        }
    }

    .navbar-toggler {
        padding: 4px;
        border: none;

        &-icon {
            background: none;
            box-shadow: none;
        }

        &:focus {
            box-shadow: none;
        }

        &-icon {
            width: 27.5px;
            height: 2.5px;
            background-color: white;
            position: relative;
            transition: 0.3s;

            &::after,
            &::before {
                content: "";
                width: 27.5px;
                height: 2.5px;
                background-color: white;
                position: absolute;
                top: 9px;
                right: 0;
                transition: 0.3s;
            }

            &::after {
                width: 18px;
            }

            &::before {
                top: -9px;
            }
        }

        &:hover {
            .navbar-toggler-icon {
                background-color: $primary-color;

                &::after,
                &::before {
                    background-color: $primary-color;
                }
            }
        }


        &[aria-expanded="false"] {
            .navbar-toggler-icon {
                background: none;

                &::after {
                    transform: translate(0px, -9px) rotate(45deg);
                    width: 27.5px;
                }

                &::before {
                    transform: translate(0px, 9px) rotate(-45deg);
                }
            }
        }
    }






    h1 {
        white-space: nowrap;
        margin-top: -14px;
    }

    .first-screen-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    .first-screen-subtitle {
        letter-spacing: 2px;
        margin-bottom: 28px;
    }

    .btn-text,
    .btn-price {
        color: $text-color-secondary;
        font-family: OpenSans;
        font-size: 16px;
        display: inline-block;
    }

    .first-screen-title,
    .first-screen-subtitle,
    .btn-text,
    .btn-price {
        font-family: OpenSans;
        text-align: center;
        font-weight: 700;
    }

    .first-screen-title,
    .first-screen-subtitle {
        color: $text-color;
        font-family: BebasNeue;
        text-transform: uppercase;
    }

    .btn {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .btn-price {
            border-left: 2px solid rgba(0, 0, 0, 0.75);
            padding-left: 11px;
        }
    }

    .scroll-down-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        max-width: 100px;
        height: 47px;
        position: absolute;
        left: 50%;
        bottom: 50px;
        transform: translate(-50%, 0);
        cursor: pointer;

        &:hover {
            .scroll-down-text {
                color: $primary-color;
            }

            .scroll-down-img,
            .scroll-down-img::after,
            .scroll-down-img::before {
                background-color: $primary-color;
            }
        }
    }

    .scroll-down-text {
        color: $text-color;
        text-align: justify;
        font-family: OpenSans;
        font-size: 12px;
        font-weight: 700;
        line-height: 183.333%;
        text-transform: uppercase;
    }

    .scroll-down-img {
        width: 20px;
        height: 2.3px;
        top: 7px;
        background-color: $text-color;
        position: relative;
        border-radius: 1px;

        &::after,
        &::before {
            content: "";
            width: 13px;
            height: 2px;
            background-color: $text-color;
            position: absolute;
            top: 4px;
            right: -1px;
            transform: rotate(140deg);
            border-radius: 1px;
        }

        &::before {
            right: 8px;
            transform: rotate(40deg);
        }
    }

}
