.newsletter {
    min-height: 700px;

    .container {
        display: flex;
        margin: 0 -35px;

        .content-box,
        .newsletter-img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 35px;
        }
        .newsletter-img {
            background-image: radial-gradient(circle closest-side at 50% 36%, #00000000 78%, #080A0B 239%), url(/assets/img/newsletter-img.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            max-height: 694px;
            max-width: 445px;
            min-width: 330px;
            width: 100%;
        }

        h1{
            margin-bottom: 38px;
        }
        .some-text{
            margin-bottom: 54px;
        }

        .form {
            display: flex;
            margin: 0 -8px;

            .btn {
                margin: 0 8px;
            }

            form {
                padding: 6px 21px;
                border-radius: 5px;
                background: rgb(47 46 46);
                margin: 0 8px;
                display: flex;
                flex-direction: column;

                label {
                    font-size: 14px;
                    opacity: 0.5;
                    text-align: initial;
                    background: rgb(47 46 46);
                    margin-bottom: 3px;
                }

                input {
                    text-align: initial;
                    background-color: rgb(47 46 46);
                    box-shadow: none;
                    border: none;
                    color: $primary-color;

                    :focus {
                        display: none;
                    }

                    &::placeholder {
                        color: $primary-color;
                    }
                }

            }

            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 5px 0 rgba(34, 29, 29),
                    inset 0 0 0 50px rgb(47 46 46);
                -webkit-text-fill-color: $primary-color;
            }

            input:-webkit-autofill:focus {
                -webkit-box-shadow: 0 0 5px 0 rgba(34, 29, 29),
                    inset 0 0 0 50px rgb(47 46 46);
                -webkit-text-fill-color: $color-secondary;
            }


        }
    }
}
