.requirements {
    min-height: 1040px;
    background: radial-gradient(circle closest-side at 70% 52%, #00000000 47%, #080A0B 187%), url(/assets/img/bg-image-requirements.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .container {
        padding-top: 145px;
    }

    h1,
    h3 {
        text-align: center;
    }

    h1 {
        margin-bottom: 134px;
    }

    .table-box {
        position: relative;
        height: 403px;
        width: 573px;
        background: url(/assets/img/border-table.svg) center/contain no-repeat;
    }

    .requirements-table {
        position: absolute;
        top: 2px;
        left: 1px;
        min-height: 403px;
        max-width: 574px;
        border: none;

        td {
            width: 50%;
            border: 1px solid #979797;
            padding: 15px 20px;
        }

        tr {
            &:last-child {
                td {
                    border: none;
                }
            }
        }

        h3 {
            color: $primary-color;
            text-align: start;
        }
    }

}
