<section class="about-game">
    <div class="container">
        <div class="about-text">
            <h3>What is SOS?</h3>
            <h1>social battle royale game</h1>
            <div class="text-box">
                <p class="some-text">Each round, you and 15 other contestants compete to
                    escape a deadly island filled with monsters. The trick is: three people can survive. Will you run
                    solo or form friendships with others to escape?</p>
                <p class="some-text">Making the right decisions could be the
                    difference between life and death.</p>
            </div>
        </div>
        <div class="about-slider">
            <div id="slider" class="slide-1" title="by-default">
                <div class="slide"><img src="assets/img/slide-3.png" alt="slide"></div>
                    <div class="slide"><img src="assets/img/slide-2.png" alt="slide"></div>
                        <div class="slide"><img src="assets/img/slide-1.png" alt="slide"></div>
                            <button id="slider-button">
                                <div class="sld-arrow"></div>
                            </button>
                            <div class="slider-dots">
                                <div class="sld-dot"></div>
                                <div class="sld-dot"></div>
                                <div class="sld-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>

</section>
