<section class="features">
    <div class="container">
        <div class="features-box">
            <h3>What’s so special?</h3>
            <h1>features</h1>
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                SURVIVE AT ALL COSTS
            </button>
          </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            You have 30 minutes to find a relic, signal for extraction, and grab
                            one of three spots on the rescue chopper.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                CREATE ALLIES AND ENEMIES
            </button>
          </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            You have 30 minutes to find a relic, signal for extraction, and grab
                            one of three spots on the rescue chopper.</div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                IMPRESS THE AUDIENCE
            </button>
          </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            You have 30 minutes to find a relic, signal for extraction, and grab
                            one of three spots on the rescue chopper.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
