<section class="first-screen">
    <div class="container">
<div class="nav-box">
    <nav class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">game features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">System requirements</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="#">quotes</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">eng</a>
            <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="#">rus</a></li>
                <li><a class="dropdown-item" href="#">fra</a></li>
                <li><a class="dropdown-item" href="#">deu</a></li>
            </ul>
        </div>
        <div class="block-icons">
            <a class="icon" href="#"><img src="assets/img/xbox-icon.png" alt="icon"></a>
            <a class="icon" href="#"><img src="assets/img/steam-icon.png" alt="icon"></a>
        </div>
    </nav>
</div>
        <div class="first-screen-box">
            <h1 class="first-screen-title">SURVIVE AT ALL COSTS</h1>
            <h3 class="first-screen-subtitle">Experience new social battle royale game</h3>
            <button class="btn">
                <div class="btn-text">Buy Now on Steam</div>
                <div class="btn-price">$14.99</div>
            </button>
        </div>
    </div>
    <a class="scroll-down-button">
        <div class="scroll-down-text" href="">The story </div>
        <div class="scroll-down-img"></div> 
    </a>
</section>